Michael Thurner <Michael.Thurner@dr-thurner.org> <Michael.Thurner@dr-thurner.org>
Michael Thurner <Michael.Thurner@dr-thurner.org> <1226762@student.tuwien.ac.at>
Michael Thurner <Michael.Thurner@dr-thurner.org> <e1226762@student.tuwien.ac.at>
#
Thomas Burghard <thomas.burghard@gmail.com> <thomas.burghard@gmail.com>
#
Tamas Schöberl <tamas@schoeberl.pro>
Tamas Schöberl <tamas@schoeberl.pro>
#
André Mategka <12amdeveloper@gmail.com>
#
Amar Kasic <amarkasic@hotmail.com>
#
Marc Brexner <gewerbe@brexner.com>
#
Thomas Mörbauer <tmoer93@gmail.com>
#
Valentin Schnabl <valentin.cello@gmail.com>
#
Sebastian Watzinger <96738332+Nyzabes@users.noreply.github.com> <sebastian.watzinger@inso-world.com>
#
Manuel Stöger <manuel.stoeger@inso-world.com> <13203584+uberroot4@users.noreply.github.com>
Manuel Stöger <manuel.stoeger@inso-world.com> <dave@example.com>
#
Maximilian Zenz <maximilian.zenz@inso-world.com> <e1633058@student.tuwien.ac.at>
Maximilian Zenz <maximilian.zenz@inso-world.com> <maximilian.zenz@rise-world.com>
Maximilian Zenz <maximilian.zenz@inso-world.com> <48351547+MaximilianZenz@users.noreply.github.com>
#
Michael Strasser <michael.strasser@inso-world.com> <96736520+Megalokom@users.noreply.github.com>
#
Benedikt Eckerstorfer <e12217063@student.tuwien.ac.at> <152509543+Bene-dykt@users.noreply.github.com>
Benedikt Eckerstorfer <e12217063@student.tuwien.ac.at> <eckerstorfer.benedikt@gmail.com>
#
Bastian Ferch <bastian.ferch@inso-world.com> <35867651+bastianferch@users.noreply.github.com>
Bastian Ferch <bastian.ferch@inso-world.com> <bastian.ferch@tuwien.ac.at>
#
Balint Timar <e12121289@student.tuwien.ac.at>
#
Manuel Märzinger <20152088@atn.ac.at>
#
Valentin Futterer <e11904654@student.tuwien.ac.at>
#
Dominik Kidery <dominik.kidery@tuwien.ac.at>
#
Jakub Morávek <e12225087@student.tuwien.ac.at> <162725810+MoravekJakub@users.noreply.github.com>
Jakub Morávek <e12225087@student.tuwien.ac.at> <e12225087@student.tuwien.ac.at>
#
Markus Gumpoltsberger <markus.gumpoltsberger@inso-world.com> <markus.gumpoltsberger@gmail.com>
#
Kai Kastenmeier <kai.kastenmeier@inso-world.com> <kai.kastenmeier@gmail.com>
#
Ross Boulton <e52007234@student.tuwien.ac.at> <122460451+R0555@users.noreply.github.com>
Ross Boulton <e52007234@student.tuwien.ac.at> <rossdboulton@gmail.com>
#
Sebastian Schuch <e12222156@student.tuwien.ac.at> <sebastian.schuch.ss@gmail.com>
#
Sarah Biedermann <e1402642@student.tuwien.ac.at> <e1402642@student.tuwien.ac.at>
#
Mathias Trapl <mathias.trapl@gmail.com> <mathias.trapl@gmail.com>
