x-binocular-backend-image: &binocular-backend-image ghcr.io/inso-world/binocular-backend:${TAG:-latest}
x-node-image: &node-image node:22.13.1-alpine # check if same as in .nvmrc!
x-binocular-db-image: &binocular-db-image arangodb:3.12 #ghcr.io/inso-world/binocular-database:6773404196 #:${TAG:-latest-dev}
x-binocular-depends-on: &binocular-depends-on
  - db
x-binocular-volumes-backend: &binocular-volumes-backend
  - ./foxx:/app/binocular/foxx
  - ./utils:/app/binocular/utils
  - ./binocular-backend:/app/binocular/backend
  - ./services:/app/binocular/services
  - /path_to_repo:/app/binocular/repo #TODO: change as required, e.g. ./ for local Binocular
  - ./.binocularrc-binocular:/app/binocular/.binocularrc
x-binocular-build-args: &binocular-build-args
  NODE_VERSION: "22.13.1" # check if same as in .nvmrc!

networks:
  binocular:

services:
  db:
    image: *binocular-db-image
    container_name: binocular_db
    restart: unless-stopped
    ports:
      - "8529:8529"
    environment:
      ARANGO_NO_AUTH: 1
    networks:
      - binocular
    volumes:
      - ./docker/arangodb/data:/var/lib/arangodb3

  binocular-init:
    image: *binocular-backend-image
    depends_on: *binocular-depends-on
    container_name: "binocular_init"
    environment:
      - DEBUG=idx*,importer*,git*,db*,context*
    command: [
        "binocular",
        "run",
        # "--clean", # uncomment to truncate all documents
        # "--no-vcs",
        # "--no-ci",
        # "--no-its",
        # "--no-jobs",
        "--no-frontend",
        "--no-server",
        "/app/binocular/repo/",
      ]
    volumes: *binocular-volumes-backend
    networks:
      - binocular
    build:
      context: ./
      dockerfile: docker/backend.Dockerfile
      args: *binocular-build-args

  binocular:
    container_name: binocular_app
    image: *node-image
    depends_on:
      - binocular-backend
    working_dir: "/app/binocular/frontend"
    entrypoint: ["/bin/sh"]
    command: ["-c", "npm i && npm run dev -- --host"]
#    command: ["tail", "-f", "/dev/null"]
    ports:
      - "8089:8080"
    networks:
      - binocular
    environment:
      - BACKEND_URL=binocular_backend
    volumes:
      - ./binocular-frontend-new:/app/binocular/frontend
      - ./utils:/app/binocular/utils
    build:
      context: ./
      dockerfile: docker/frontend.v2.Dockerfile
      target: builder
      
  binocular-v1:
    container_name: binocular_app_v1
    image: *node-image
    depends_on:
      - binocular-backend
    working_dir: "/app/binocular/frontend"
    entrypoint: ["/bin/sh"]
    command: ["-c", "npm i && npm run dev -- --host"]
#    command: ["-c", "tail -f /dev/null"]
    ports:
      - "8099:8080"
    networks:
      - binocular
    environment:
      - BACKEND_URL=binocular_backend
    volumes:
      - ./binocular-frontend:/app/binocular/frontend
      - ./utils:/app/binocular/utils
    build:
      context: ./
      dockerfile: docker/frontend.Dockerfile
      args: *binocular-build-args
#      target: builder

  binocular-backend:
    image: *binocular-backend-image
    depends_on: *binocular-depends-on
    container_name: "binocular_backend"
    # user: root
    environment:
      - DEBUG=idx*,importer*,git*,db*,context*
    entrypoint: ["/bin/sh"]
    command:
      [
        "-c",
        "npm i && npm i -g tsx ts-node && npm i --include=dev mocha && tsx watch binocular.ts run --no-frontend --no-vcs --no-ci --no-its --no-jobs /app/binocular/repo"
      ]
    working_dir: "/app/binocular/backend"
    ports:
      - "8080:8080"
      - "48763:48763"
    build:
      context: ./
      dockerfile: docker/backend.Dockerfile
      args: *binocular-build-args
    volumes: *binocular-volumes-backend
    networks:
      - binocular
