x-binocular-backend-image: &binocular-backend-image ghcr.io/inso-world/binocular-backend:${TAG:-latest} #:${TAG:-latest-dev}
x-binocular-db-image: &binocular-db-image arangodb:3.12 #ghcr.io/inso-world/binocular-database:6773404196 #:${TAG:-latest-dev}
x-binocular-frontend-image: &binocular-frontend-image ghcr.io/inso-world/binocular-frontend:${TAG:-latest}
x-binocular-depends-on: &binocular-depends-on
  - db
x-binocular-volumes-backend: &binocular-volumes-backend
  - /path_to_repo:/app/binocular/repo
  - ./.binocularrc-binocular:/app/binocular/.binocularrc
x-binocular-build-args: &binocular-build-args
  NODE_VERSION: "22.13.1" # check if same as in .nvmrc!

networks:
  binocular:

services:
  db:
    image: *binocular-db-image
    container_name: binocular_db
    restart: unless-stopped
    environment:
      ARANGO_NO_AUTH: 1
    ports:
      - "8529:8529"
    networks:
      - binocular
    volumes:
      - ./docker/arangodb/data:/var/lib/arangodb3

  binocular-init:
    image: *binocular-backend-image
    depends_on: *binocular-depends-on
    container_name: "binocular_init"
    environment:
      - DEBUG=idx*,importer*,git*,db*,context*
    command: [
        "binocular",
        "run",
        # "--clean", # uncomment to truncate all documents
        "--no-frontend",
        # "--no-vcs",
        # "--no-ci",
        # "--no-its",
        # "--no-jobs",
        "--no-server",
        "/app/binocular/repo/",
      ]
    volumes: *binocular-volumes-backend
    networks:
      - binocular
    build:
      context: ./
      dockerfile: docker/backend.Dockerfile
      args: *binocular-build-args

  binocular-backend:
    image: *binocular-backend-image
    depends_on: *binocular-depends-on
    container_name: "binocular_backend"
    user: "root"
    tty: true
    environment:
      - DEBUG=idx*,importer*,git*,db*,context*
    command: [
        "binocular",
        "run",
        "--no-frontend",
        "--no-vcs",
        "--no-ci",
        "--no-its",
        "--no-jobs",
        "/app/binocular/repo/",
      ]
    ports:
      - "8080:8080"
      - "48763:48763"
    build:
      context: ./
      dockerfile: docker/backend.Dockerfile
      args: *binocular-build-args
    volumes: *binocular-volumes-backend
    networks:
      - binocular

  binocular:
    container_name: binocular_app
    image: *binocular-frontend-image
    ports:
      - 8088:80
    networks:
      - binocular
    volumes:
      - "./nginx/nginx.conf://etc/nginx/nginx.conf:ro"
    # command: [nginx-debug, '-g', 'daemon off;']
    # entrypoint: [""]
    depends_on:
      - binocular-backend
    environment:
      - SERVER_NAME=localhost
      - HOST=127.0.0.1
      - PORT=80
    build:
        context: ./
        dockerfile: docker/frontend.v2.Dockerfile
        args: *binocular-build-args
