spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/binocular
    username: binocular
    password: binocular
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
