@use '../../../../variables.scss' as *;
@reference "../../../../index.scss";


.selector{
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

.selectorHorizontal{
  box-shadow: $shadow-default-inset;
  border-radius: $border-radius-default;
  height: 3rem;
}

.selectorVertical{
  box-shadow: $shadow-default-inset;
  border-radius: $border-radius-default;
}

.selectorRow{}

.visualizationButton{
  display: inline-block;
  float:left;
  margin: .5rem;
  height: 2rem;
  overflow: hidden;
  box-shadow: $shadow-default;
  border-radius: $border-radius-small;
  cursor: grab;
  transition: scale ease-in-out .2s;
  @apply bg-base-100;
}

.visualizationButton:hover{
  scale: 1.1;
}

.visualizationButton>div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.visualizationButton>div>img{
  border-right: $border-default;
  @apply border-base-300;
  height: 2rem;
  width: 3rem;
  background: white;
}

.visualizationButton>div>span{
  margin: 0 .5rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
}

.visualizationButton>div>button{
  @apply btn;
  height: 2rem;
  width: 3rem;
  background: white;
}
