@reference "../../../../../index.scss";


.element{
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border-bottom: 1px solid;
  @apply border-base-300;
  height: 1.5rem;
}

.element:hover{
  @apply bg-neutral;
}

.element>img{
  fill: gray;
  margin-right: .25rem;
}

.inset{
  padding-left: .5rem;
  border-left: 1px solid;
  @apply border-base-300;
}

.searchMark{
  @apply bg-accent;
  border-radius: 2px;
  padding: 0 .1rem;
  margin: 0 .1rem;
  border: 1px solid;
}
