@use "../../../../variables.scss" as *;
@reference "../../../../index.scss";

.layoutOverview{
  background: transparent;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  margin: 0;
  overflow: hidden;
}

.layoutOverview::backdrop{
  background: transparent;
}

.layoutOverview>div{
  position: absolute;
  top:100px;
}

.layoutOverviewContent{
  @apply menu;
  @apply bg-base-100;
  @apply rounded;
  @apply w-56;
  @apply text-neutral-content;
  min-width: 50vw;
  box-shadow: $shadow-default;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selectorRow{
}

.deleteButton{
  background: url("../../../../assets/close_red.svg") no-repeat center center;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
