@import "../../../../../variables.scss";

.visualizationOverview{
  background: transparent;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  margin: 0;
  overflow: hidden;
}

.visualizationOverview::backdrop{
  background: transparent;
}

.visualizationOverview>div{
  position: absolute;
  top:100px;
}

.visualizationOverviewContent{
  @apply menu;
  @apply bg-base-100;
  @apply rounded;
  @apply w-56;
  @apply text-neutral-content;
  min-width: 50vw;
  box-shadow: $shadow-default;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selectorRow{
}

