@use "../../../variables.scss" as *;
@reference "../../../index.scss";

$dashboardItemInteractionBarThickness: 1.5rem;
$dashboardItemResizeBarThickness: 3px;
.dashboardItem{
  position: absolute;
  @apply bg-base-200;
  border-radius: $border-radius-small;
  border: $border-default;
  @apply border-base-300;
  box-shadow: $shadow-default;
  overflow: hidden;
}

.dashboardItemContent{
  position: absolute;
  width: 100%;
  height: calc(100% - $dashboardItemInteractionBarThickness);
  top: $dashboardItemInteractionBarThickness;
  @apply bg-base-100;
}

.dashboardItemInteractionBar{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply bg-base-100;
  box-shadow: $shadow-default;
  user-select: none;
  cursor: grab;
  height: $dashboardItemInteractionBarThickness;
  width: 100%;
}

.dashboardItemInteractionBarLeft{
  flex: 1 1 auto;
  min-width: 0;
  position: relative;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
}

.dashboardItemInteractionBarLeft::after{
  content: "";
  display: block;
  position: absolute;
  height: $dashboardItemInteractionBarThickness;
  width: $dashboardItemInteractionBarThickness;
  right: 0;
  background: linear-gradient(to right, transparent, oklch(var(--b1)));
}


.dashboardItemInteractionBarRight{
  flex: 0 0 auto;
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
  gap: .25rem;
}

.dashboardItemInteractionBarRight>button{
  width: $dashboardItemInteractionBarThickness;
  height: $dashboardItemInteractionBarThickness;
}

.dashboardItemInteractionBarLeft>span{
  margin-left: .5rem;
  text-wrap: nowrap;
}

.dashboardItemResizeBarTop{
  position: absolute;
  top: 0;
  left: $dashboardItemResizeBarThickness;
  width: calc(100% - $dashboardItemResizeBarThickness * 2);
  height: $dashboardItemResizeBarThickness;
  cursor: ns-resize;
}

.dashboardItemResizeBarRight{
  position: absolute;
  top: $dashboardItemResizeBarThickness;
  right: 0;
  width: $dashboardItemResizeBarThickness;
  height: calc(100% - $dashboardItemResizeBarThickness * 2);
  cursor: ew-resize;
}

.dashboardItemResizeBarBottom{
  position: absolute;
  bottom: 0;
  left: $dashboardItemResizeBarThickness;
  width: calc(100% - $dashboardItemResizeBarThickness * 2);
  height: $dashboardItemResizeBarThickness;
  cursor: ns-resize;
}

.dashboardItemResizeBarLeft{
  position: absolute;
  top: $dashboardItemResizeBarThickness;
  left: 0;
  width: $dashboardItemResizeBarThickness;
  height: calc(100% - $dashboardItemResizeBarThickness * 2);
  cursor: ew-resize;
}

.settingsButton{
  background: url("../../../assets/dots_horizontal_gray.svg");
}

.popoutButton{
  background: url("../../../assets/open_in_new_gray.svg");
}

.exportButton{
  background: url("../../../assets/export_gray_window.svg");
}

.helpButton{
  background: url("../../../assets/info_gray.svg");
}

.deleteButton{
  background: url("../../../assets/close_red.svg");
}



.subWindowBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: +1;
}

.subWindow{
  position: absolute;
  width: 20rem;
  min-height: 5rem;
  border-radius: $border-radius-default;
  @apply bg-base-100;
  box-shadow: $shadow-default;
  border: $border-default;
  @apply border-base-300;
  padding: .5rem;
}

.popoutWarning{
  @apply text-xs;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popoutWarning>div{
  width: 80%;
  text-align: center;
}

.popoutTextContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.popoutTextContainer>div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
