.mainContainer {
  background-color: #EEEEEE;
  margin-bottom: 1rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.commitInfo {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
}

.tableCommit {
  width: 80%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.commitChange {
  background-color: white;
  border: 1px solid lightgray;
  height: 1.9rem;
}


.codeView{
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
