@use '../tabControllerVariables.module' as *;

.tabControllerButton{
  height: calc($tab-bar-thickness - 10px);
  width: calc($tab-bar-thickness - 10px);
  margin: 0 .5rem;
  place-content: start!important;
}

.tabControllerButton>svg{
  height: 100%;
  width: 100%;
}
