@import "tailwindcss";
@source "./src/**/*.{html,js,ts,tsx,jsx}";

@plugin "daisyui" {
  themes: [
      cyberpunk,
      black,
      binocularLight --default,
      binocularDark --prefersdark
  ]
}

@layer base {
  h1 {
    @apply mt-2;
    @apply text-2xl;
    @apply font-bold;
    @apply underline;
  }
  h2 {
    @apply mt-1;
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply mt-1;
    @apply text-lg;
    @apply underline;
  }
  a {
    @apply text-accent;
    @apply underline;
  }
  p {
    @apply mb-1;
  }
}

@plugin "daisyui/theme" {
  name: binocularLight;
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-content: "#111111";

  --color-primary: "#555555";
  --color-accent: "#007AFF";
  --color-accent-content:"#FFFFFF";
  --color-neutral: "#CCC";
  --color-neutral-content:"#555";
  --color-base-100: "#FFFFFF";
  --color-base-200: "#FAFAFA";
  --color-base-300: "#E0E0E0";
  --color-success:"#4cd964";
  --color-success-content: "#FFFFFF";
  --color-error:"#ff3b30";
  --color-error-content: "#FFFFFF";
  --color-warning:"#ffcc00";
  --color-info:"#5ac8fa";

  /* border radius */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: binocularDark;
  default: false; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-primary: "#555555";
  --color-accent: "#0062cc";
  --color-accent-content:"#FFFFFF";
  --color-neutral: "#555";
  --color-neutral-content:"#666";
  --color-base-100: "#111";
  --color-base-200: "#222";
  --color-base-300: "#333";
  --color-base-content: "#fff";
  --color-success:"#229e37";
  --color-success-content: "#fff";
  --color-error:"#c90a00";
  --color-error-content: "#fff";
  --color-warning:"#ffcc00";
  --color-info:"#5ac8fa";

  /* border radius */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;
}
