$padding-primary: .2rem;

$border-default-width: 1px;
$border-default: $border-default-width solid;
$border-radius-default: .5rem;
$border-radius-small: .25rem;

$shadow-default: 0 0 10px #00000033;
$shadow-default-inset: 0 0 10px #00000033 inset;

$statusBarHeight: 1.5rem;
