name: Build Rust Library for Backend

on:
  push:
    paths:
      - '.github/workflows/backend-rust.yml'
      - 'binocular-backend-new/ffi/lib/**'
  pull_request:
    branches:
      - "!main"
      - "!develop"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: '1'
  WD: binocular-backend-new/ffi/lib
  RESOURCES_DIR: binocular-backend-new/ffi/src/main/resources/
  LIB_BASENAME: gix_binocular
  KOTLIN_DIR: binocular-backend-new/ffi/src/main/kotlin

jobs:
  pure-rust-build:

    defaults:
      run:
        working-directory: ${{ env.WD }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - container: amd64/debian:stable-slim
            runner-arch: amd64
            runner-os: ubuntu-latest
            host-triple: x86_64-unknown-linux-gnu
            file-ending: so
          - runner-arch: arm64
            runner-os: ubuntu-24.04-arm
            host-triple: aarch64-unknown-linux-gnu
            file-ending: so
          #          - container: alpine:3.22.0
          #            runner-arch: amd64
          #            runner-os: ubuntu-latest
          #            host-triple: aarch64-unknown-linux-musl
          #            file-ending: so
#          - runner-arch: arm64
#            runner-os: macos-latest
#            host-triple: aarch64-apple-darwin
#            file-ending: dylib
#          - runner-arch: x86_64
#            runner-os: macos-latest
#            host-triple: x86_64-apple-darwin
#            file-ending: dylib
#          - runner-arch: x86_64
#            runner-os: windows-latest
#            host-triple: x86_64-pc-windows-msvc
#            file-ending: dll
    #          - runner-arch: x86_64
    #            runner-os: windows-latest
    #            host-triple: aarch64-pc-windows-msvc
    #            file-ending: dll
    runs-on: ${{ matrix.runner-os }}
    container: ${{ matrix.container }}

    steps:
      - uses: actions/checkout@v4

      - name: Prerequisites (ubuntu)
        if: startsWith(matrix.runner-os, 'ubuntu') && matrix.container != null
        run: |
          prerequisites=(
            ca-certificates
            curl
            gcc  # rustc calls gcc to invoke the linker.
            libc-dev  # rustc, in the toolchain we are using, dynamically links to the system libc.
          )
          dpkg --add-architecture ${{ matrix.runner-arch }}
          apt-get update
          apt-get install --no-install-recommends -y -- "${prerequisites[@]}"
        shell: bash  # This step needs `bash`, and the default in container jobs is `sh`.

      - name: Install Rust via Rustup
        run: |
          # Specify toolchain to avoid possible misdetection based on the 64-bit running kernel.
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs |
            sh -s -- -y --default-host ${{ matrix.host-triple }} --profile minimal

      - name: Add Rust tools to path
        run: echo "PATH=$HOME/.cargo/bin:$PATH" >> "$GITHUB_ENV"

      - uses: Swatinem/rust-cache@v2

      - name: Build library for target ${{ matrix.host-triple }}
        shell: bash
        run: |
          set +x
          cargo build --release --target ${{ matrix.host-triple }}

      - name: Upload built library artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.host-triple }}               # keeps triple as folder name when downloading
          path: |
            target/${{ matrix.host-triple }}/release/*${{ env.LIB_BASENAME }}.${{ matrix.file-ending }}
          if-no-files-found: error
          retention-days: 7
